{% include 'base.html' %}
{% include 'navbar.html' %}
{% block head %}
<style media="screen">
	.post_image{
		display: block;
		max-width:500px;
		max-height:500px;
		width: auto;
		height: auto;

	}
	#profilePostImage{
		float:left;
		margin-right:10px;
		width:30px;
		height:30px;
		border-radius:50%;
	}
		#profileImage{
			float:left;
			margin:20px;
			width:200px;
			height:200px;
			border-radius:50%;
		}
		.container{
			margin-left:0px;
			margin-top:30px;
		}
</style>

{% endblock %}

{% block body %}
<div class="row">
		<div class="col-sm-2" style="background-color:lavender;"></div>
		<div class="col-sm-8" style="background-color:lavenderblush;">

<div class="container mx-2" id="infoAccount">
	<img src="{{ user.userprofile.profilePic.url }}" id="profileImage">

	<h1>Profile</h1>
	<h3>Username: {{username}}</h3>
	<h3>Name: {{username.first_name}} {{username.last_name}}</h3>
	<h3>Email: {{username.email }}</h3>
</div>
<br><br><br><br>
<div class="container mx-5">
{% for qs in querySet %}
	
		<div class="card w-75 mx-3 my-4">
		  <div class="card-body">
		  	<a href="account/{{ qs.user }}">
		  	<img src="{{ qs.user.userprofile.profilePic.url }}" id="profilePostImage" class="rounded-circle">
		    <h5 class="card-title">{{ qs.user }}</h5></a>
		    <p class="card-text"><b>{{ qs.content }}</b></p>
		    	{% if qs.image %}
				<img src="{{ qs.image.url }}" alt="" class="post_image"><br>
				{% endif %}
		    
		  </div>
		</div>
	{% endfor %}
</div>
</div>
<div class="col-sm-2" style="background-color:lavender;"></div>
{% endblock %}
